/* -- font -- */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* -- common area or utility area --*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

hr {
    border: 1pd solid #d1d1d1;
    margin: bottom 22px;
}

/* --------------------- Header Navigation ------------------------ */

.header-container {
    background-color: rgb(21, 54, 243);
    padding: 15px 50px;
}

.header-items {
    display: flex;
    justify-content: space-between;
}

.header-items .logo {
    display: flex;
    align-items: center;
}

.header-items .logo img {
    width: 40px;
    height: 50px;
}

.header-items .logo h3 {
    letter-spacing: .1em;
    color: rgb(248, 248, 248);
    padding: 0 10px;
}

.header-items .navigation {
    display: flex;
    align-items: center;
}

.header-items .navigation .nav-item {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navigation .nav-item img {
    width: 30px;
    height: 30px;
}

/* ------------------------ Top Player -------------------------- */

.top-players {
    padding-bottom: 21px;
}

.section-title {
    font-size: 24px;
    color: #562eff;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

/* ----------------- Top Blogs -------------------- */

.blogs {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 200px repeat(2, 1fr); */
    /* grid-template-columns: repeat(2, 200px)1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
}

.blog {
    display: flex;
}

.thambnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16 px;
    color: #562eff;
}

.blog-author a {
    text-decoration: none;
}

/* ---------------- Latest Courses ------------------- */

.latest-course h2 {
    font-size: 24px;
    color: #562eff;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.course {
    width: 250px;
    padding: 15px;
    margin: 0 10px;
    box-shadow: 10px 10px 40px rgb(241, 241, 241);
    border-radius: 10px;
}

.course img {
    width: 250px;
}

.course .course-details h3 {
    font-size: 20px;
    margin-bottom: -15px;
}

.course .course-details h4 a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(212, 80, 80);
}

.course .course-details .course-info {
    display: flex;
    align-items: center;
}

.course .course-details .course-info .filled {
    font-size: 12px;
    color: #ec9f0e
}

.course .course-details .course-info .blanked {
    font-size: 12px;
    color: #aeaeae;
}

.course .course-details .course-info .score {
    font-size: 14px;
    margin: 0 15px;
}

.course .course-details .course-info .course-duration {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    background-color: rgba(231, 8, 8, 0.1);
    border-radius: 30px;
}

.course .course-details .course-info .course-duration .fa-clock {
    padding-right: 10px;
    color: rgb(179, 21, 21);
}

.course .course-details .course-info .clock .time {
    color: rgb(179, 21, 21);
}



/* 
.courses {}

.course {}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-detail {}

.course-detail .course-title {
    font-size: 50;
}

.course-author {}

.course-info {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #ffc014;
}

.fa-star.empty {
    color: #aeaeae;
}

.course-info p {
    padding: 0 10px;
}

.course-duration {} */